In [1]:
"""
                                        EJERCICIOS PARA PRACTICAR
                                        Nombre: Aimee Hernandez
"""
import numpy as np
import pandas as pd

df = pd.read_csv('usersv2.csv')

# 1 Obtener el nombre y correo de todos los usuarios.

df[['name', 'email']]

                       name                           email
0          Ms Fátima Martin       fatima.martin@example.com
1         Mrs Molly Garrett       molly.garrett@example.com
2         Ms Veena Kulkarni      veena.kulkarni@example.com
3          Miss Sheryl Cole         sheryl.cole@example.com
4         Ms Nataša Subašić      natasa.subasic@example.com
...                     ...                             ...
1995  Ms Viktoria Lauritsen  viktoria.lauritsen@example.com
1996   Mr Christian Sørhaug   christian.sorhaug@example.com
1997       Ms Maria Peković       maria.pekovic@example.com
1998      Mrs Nicole Jensen       nicole.jensen@example.com
1999  Mr Percy Blankenstein  percy.blankenstein@example.com

[2000 rows x 2 columns]

In [2]:
# 2 Obtener el nombre de todos los usuarios cuyo sexo es Femenino.

df [df['gender'] == 'female']['name']

0            Ms Fátima Martin
1           Mrs Molly Garrett
2           Ms Veena Kulkarni
3            Miss Sheryl Cole
4           Ms Nataša Subašić
                ...
1992        Ms Floriana Ramos
1994             Ms Bella Lee
1995    Ms Viktoria Lauritsen
1997         Ms Maria Peković
1998        Mrs Nicole Jensen
Name: name, Length: 1013, dtype: object

In [3]:
# 3 Obtener el nombre de todos los usuarios cuyo sexo es Masculino y tengan una
# edad mayor a 50

# Condición para btener los usuarios de sexo masculino y que su edad sea mayor a 50
condition = (df['gender'] == 'male') & (df['age'] > 50)
# Obtener los nombres de los usuarios respecto a la condición dada
df [condition]['name']

6                   Mr Oscar Olsen
10      Monsieur Francesco Leclerc
12                 Mr Sean Shelton
17                Mr Lennox Økland
19                   Mr Jose Wells
                   ...
1980               Mr Sierd Donker
1983          Mr Alfred Williamson
1987                Mr Blake Slawa
1991                 Mr Jake Moore
1993            Mr Zachary Stevens
Name: name, Length: 461, dtype: object

In [4]:
# 4 Obtener todos los usuarios cuya edad sea mayor a 68.

df [df['age'] > 68]

,name,age,username,email,country,postcode,gender
3,Miss Sheryl Cole,74,beautifulcat191,sheryl.cole@example.com,United Kingdom,TH3 7XG,female
10,Monsieur Francesco Leclerc,72,smallfrog613,francesco.leclerc@example.com,Switzerland,7478,male
13,Miss Violeta Santos,76,blackelephant682,violeta.santos@example.com,Brazil,80046,female
16,Mrs Navya Kini,77,ticklishsnake791,navya.kini@example.com,India,95665,female
17,Mr Lennox Økland,75,beautifulzebra118,lennox.okland@example.com,Norway,5854,male
...,...,...,...,...,...,...,...
1970,Monsieur Kevin Renaud,77,beautifulmouse669,kevin.renaud@example.com,Switzerland,9644,male
1981,Miss Maddison Ortiz,71,yellowsnake332,maddison.ortiz@example.com,United Kingdom,MD6T 6PG,female
1983,Mr Alfred Williamson,71,smallgoose340,alfred.williamson@example.com,Australia,821,male
1993,Mr Zachary Stevens,70,organicfish890,zachary.stevens@example.com,Australia,5384,male
1998,Mrs Nicole Jensen,78,beautifuldog292,nicole.jensen@example.com,United Kingdom,L9J 1QE,female

In [5]:
# Obtener el nombre y el pais del usuario mas joven

df.sort_values('age').head(1)[['name', 'country']]

                    name        country
1842  Mrs Yolanda Gordon  United States

In [6]:
# 5 Obtener el username y correo electrónico de los usuarios cuya edad se encuentre
# en el rango 50 a 60.

df [(df['age'] > 50) & (df['age'] < 60)][['username', 'email']]

              username                         email
2        smalltiger174    veena.kulkarni@example.com
4           bigbird256    natasa.subasic@example.com
11        lazyzebra356   abigail.morales@example.com
19        heavyswan589        jose.wells@example.com
27       yellowswan337    mylan.lefebvre@example.com
...                ...                           ...
1950       tinylion905        donna.rice@example.com
1962  beautifulfish989       tom.mercier@example.com
1969   whitemeercat543      eemeli.heino@example.com
1972    goldentiger337  emilie.jorgensen@example.com
1987   whiteostrich177       blake.slawa@example.com

[321 rows x 2 columns]

In [7]:
# 6 Obtener el username de todos los usuarios cuyo correo no terminen con
# @example.com 
# como lo hice al principio
df[df['email'].str.endswith('@example.com') == -1 ]['username']
# como lo hizo Eduardo en clase
df[~ df['email'].str.endswith('@example.com') ]['username']

Series([], Name: username, dtype: object)

In [8]:
# 7 Obtener el username de todos los usuarios cuyo país sea Germany, Finland o Canada.
df[ (df['country'] == 'Germany') | (df['country'] == 'Finland') | (df['country'] == 'Canada')]['username']
# otra mejor manera
df [df['country'].isin(['Germany', 'Finland', 'Canada'])]['username']

15           smalltiger986
18             whitecat263
29       brownbutterfly120
36      ticklishladybug412
40       organicleopard484
               ...
1969       whitemeercat543
1973        orangezebra429
1986        goldenkoala606
1987       whiteostrich177
1989          brownwolf223
Name: username, Length: 316, dtype: object

In [9]:
# 8 Obtener el nombre y correo electronico de todos los usuarios de sexo Femenino
# que sean del país Alemania
df[ (df['gender'] == 'female') & (df['country'] == 'Germany') ][['name', 'email']]

                            name                               email
79              Miss Sara Weyand             sara.weyand@example.com
105          Miss Marina Heumann          marina.heumann@example.com
245            Miss Bozena Thimm            bozena.thimm@example.com
260          Miss Clara Springer          clara.springer@example.com
270          Miss Elvira Eichner          elvira.eichner@example.com
278              Mrs Sevim Stehr             sevim.stehr@example.com
330           Ms Ilona Heinemann         ilona.heinemann@example.com
340                Ms Nina Höfer              nina.hofer@example.com
346          Mrs Cäcilie Uhlmann         cacilie.uhlmann@example.com
447           Ms Liesbeth Völker         liesbeth.volker@example.com
450               Mrs Ella Leder              ella.leder@example.com
477           Miss Stella Schenk           stella.schenk@example.com
487              Ms Alexa Backes            alexa.backes@example.com
555              Ms Beate Eifler            beate.eifler@example.com
676                Ms Kira Bartz              kira.bartz@example.com
695            Miss Ingrid Demir            ingrid.demir@example.com
750         Mrs Elizabeth Lemmer        elizabeth.lemmer@example.com
757   Miss Anne-Kathrin Haußmann  anne-kathrin.haussmann@example.com
764              Miss Flora Reil              flora.reil@example.com
767              Ms Alida Köster            alida.koster@example.com
784          Miss Valeri Stenger          valeri.stenger@example.com
870        Miss Viviane Steinert        viviane.steinert@example.com
925          Mrs Harriet Schmidl         harriet.schmidl@example.com
1020          Ms Gabriela Dreher         gabriela.dreher@example.com
1132             Ms Estelle Poth            estelle.poth@example.com
1151           Ms Janette Arslan          janette.arslan@example.com
1152         Mrs Annemarie Zwick         annemarie.zwick@example.com
1278         Ms Emilie Stegemann        emilie.stegemann@example.com
1386        Miss Emilie Schubert         emilie.schubert@example.com
1518           Miss Gerda Handke            gerda.handke@example.com
1534             Ms Elwira Heyne            elwira.heyne@example.com
1626               Ms Ute Saller              ute.saller@example.com
1631              Ms Mia Schrage             mia.schrage@example.com
1639       Miss Christina Hammes        christina.hammes@example.com
1678          Miss Ronja Frühauf           ronja.fruhauf@example.com
1685       Mrs Evangelia Dreßler      evangelia.dressler@example.com
1716        Miss Brunhilde Liebl         brunhilde.liebl@example.com
1734     Miss Malgorzata Püschel      malgorzata.puschel@example.com
1745            Ms Traude Völker           traude.volker@example.com
1758       Miss Annette Hallmann        annette.hallmann@example.com
1790            Ms Ildiko Kröner           ildiko.kroner@example.com
1863          Miss Adolfine Holl           adolfine.holl@example.com
1864          Mrs Annabell Stang          annabell.stang@example.com
1868               Mrs Anne Ertl               anne.ertl@example.com
1896          Mrs Camilla Yilmaz          camilla.yilmaz@example.com
1904             Ms Anne Steffan            anne.steffan@example.com
1952           Mrs Dorota Stuber           dorota.stuber@example.com
1989          Miss Sylvana Stoll           sylvana.stoll@example.com

In [42]:
# 9 Obtener el promedio de edad de todos los usuarios de sexo Femenido de Canada
# mayores de 20 años.

# Obtiene los usuarios de sexo femenino de Canadá mayores de 20 años 
condition = (df['gender'] == 'female') & (df['country'] == 'Canada') & (df['age'] > 20 )
# Obtiene el promedio de edad de los usuarios que cumplen la condición dada
df[condition]['age'].mean().round(2)

53.89

In [11]:
# 10 Conocer la cantidad de usuarios que residen en Finlandia.
df[ (df['country'] == 'Finland') ].shape[0]

103

In [12]:
# 11 Mostrar en consola la cantidad de hombre y mujeres en el dataframe.

#esta manera muestra los resultados separados
print(df[ (df['gender'] == 'male') ].shape[0])
print(df[ (df['gender'] == 'female') ].shape[0])

# una mejor manera con groupby

df.groupby('gender')['gender'].count()

987
1013

gender
female    1013
male       987
Name: gender, dtype: int64

In [13]:
# 12 Mostrar en consola el país con más mujeres

df [df['gender']=='female'].groupby('country')['country'].count().sort_values(ascending=False).head(1)

country
France    61
Name: country, dtype: int64

In [44]:
# 13 Obtener los 3 países con más usuarios.

df.groupby('country')['country'].count().sort_values(ascending=False).head(3)

country
Australia    112
Germany      108
Spain        106
Name: country, dtype: int64

In [38]:
# 14 Mostrar en consola el nombre de todos los usuarios cuya edad se encuentre en el
# rango de 10 a 20 y 40 a 70.
df[(df['age'].between(10, 20)) | (df['age'].between(40, 70))][['name','age']]

                    name  age
0       Ms Fátima Martin   42
2      Ms Veena Kulkarni   53
4      Ms Nataša Subašić   55
6         Mr Oscar Olsen   60
7        Ms Marta Selvik   63
...                  ...  ...
1989  Miss Sylvana Stoll   67
1990    Mr Marius Møller   50
1991       Mr Jake Moore   61
1993  Mr Zachary Stevens   70
1997    Ms Maria Peković   45

[1119 rows x 2 columns]

In [41]:
# 15 Mostrar en consola todos los usuarios con correo electrónico.
df[df['email'].notna()]

,name,age,username,email,country,postcode,gender
0,Ms Fátima Martin,42,goldenmouse797,fatima.martin@example.com,Spain,43746,female
1,Mrs Molly Garrett,30,smallpanda982,molly.garrett@example.com,Ireland,57660,female
2,Ms Veena Kulkarni,53,smalltiger174,veena.kulkarni@example.com,India,29797,female
3,Miss Sheryl Cole,74,beautifulcat191,sheryl.cole@example.com,United Kingdom,TH3 7XG,female
4,Ms Nataša Subašić,55,bigbird256,natasa.subasic@example.com,Serbia,83260,female
...,...,...,...,...,...,...,...
1995,Ms Viktoria Lauritsen,38,heavyzebra441,viktoria.lauritsen@example.com,Norway,1545,female
1996,Mr Christian Sørhaug,28,goldensnake897,christian.sorhaug@example.com,Norway,3614,male
1997,Ms Maria Peković,45,redzebra951,maria.pekovic@example.com,Serbia,30159,female
1998,Mrs Nicole Jensen,78,beautifuldog292,nicole.jensen@example.com,United Kingdom,L9J 1QE,female
1999,Mr Percy Blankenstein,36,ticklishostrich632,percy.blankenstein@example.com,Netherlands,3143 RR,male

In [17]:
# 16 Mostrar en pantalla el nombre y correo electrónico del usuario más joven en Canadá.
df[df['country'] == 'Canada'].sort_values('age').head(1)[['name','email', 'age', 'country']]

                 name                      email  age country
262  Mr Dylan Ouellet  dylan.ouellet@example.com   21  Canada

In [18]:
# 17 Mostrar en pantalla el nombre y correo electrónico del usuario más viejo en Canada.
df[df['country'] == 'Canada'].sort_values('age', ascending=False).head(1)[['name','email', 'age', 'country']]

                   name                       email  age country
1922  Ms Marianne Ennis  marianne.ennis@example.com   77  Canada

In [19]:
# 18 Listar en consola los 3 países con menor cantidad de usuarios
df.groupby('country')['country'].count().sort_values().head(3)

country
Iran      70
Mexico    83
Serbia    86
Name: country, dtype: int64

In [20]:
# 19 Obtener el país con mayor cantidad de usuarios cuya edad sea mayor a 50.
df[df['age'] > 50].groupby('country')['country'].count().sort_values(ascending=False).head(1)

country
India    54
Name: country, dtype: int64

In [45]:
# 20 Obtener el país con mayor promedio de edad.
df.groupby('country')['age'].mean().round(2).sort_values(ascending=False).head(1)

country
India    52.54
Name: age, dtype: float64

In [22]:
# 21 Mostrar en consola el país con más hombres
df[df['gender'] == 'male'].groupby('country')['country'].count().sort_values(ascending=False).head(1)

country
Australia    60
Name: country, dtype: int64

In [46]:
# 22 Mostrar en consola el nombre, username y edad de todos los usuarios cuya edad
# es mayor a 10 y no sean del país México, Brasil y Canadá.

# Obtiene los usuarios de edad mayor a 10 que no sean de México, Brasil y Canadá
condition = (df['age'] > 10) & (~df['country'].isin(['Mexico', 'Brazil', 'Canada']))
# Obtiene el nombre, username y edad de los usuarios que cumplen con la condición dada
df[condition][['name','username','age']]

                       name            username  age
0          Ms Fátima Martin      goldenmouse797   42
1         Mrs Molly Garrett       smallpanda982   30
2         Ms Veena Kulkarni       smalltiger174   53
3          Miss Sheryl Cole     beautifulcat191   74
4         Ms Nataša Subašić          bigbird256   55
...                     ...                 ...  ...
1995  Ms Viktoria Lauritsen       heavyzebra441   38
1996   Mr Christian Sørhaug      goldensnake897   28
1997       Ms Maria Peković         redzebra951   45
1998      Mrs Nicole Jensen     beautifuldog292   78
1999  Mr Percy Blankenstein  ticklishostrich632   36

[1719 rows x 3 columns]

In [24]:
# 23 Mostrar en consola el código postal de todos los usuarios de México.
df[df['country'] == 'Mexico']['postcode']

9       43691
49      16073
52      52761
90      16543
91      78696
        ...
1813    96954
1822    61953
1836    35219
1912    56421
1964    58319
Name: postcode, Length: 83, dtype: object

In [25]:
# 24 Obtener la edad que más se repite en el DataFrame.
df['age'].mode()

0    44
dtype: int64

In [26]:
# 25 Obtener la edad que menos se repite en el DataFrame.
df['age'].value_counts().idxmin()

78

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=523496f3-7d4c-45bd-a686-33271572a62e' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>